@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*{
  background-color: black;
  font-family: 'Cinzel', serif;
  color: #c90;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-weight: 900;
  font-size: xx-large;
}
nav{
  display: flex;
  justify-content: space-around;
}
a{
  text-decoration: none;
  font-weight: 900;
  margin-bottom: 10px;
}
.header{
  position: fixed;
  width: 100%;
}
.body{padding-top: 10%;}
.Item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  display: flex;
  flex-direction: row;
}
button{
  border: none;
  font-size: large;
}
.detail{
  text-decoration: underline;
}
.cart{
  text-decoration: underline;
}
