@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
p{
  font-family: 'Cinzel', serif;
  color: #c90;
  font-weight: 900;
  font-size: xx-large;
}
